<div id="totale-iscritti" class="p-3 mt-2">
  <%= form_with model: @total_members_form, scope: :total_members_form, url: statistics_path, method: :get,
    local: true do |f| %>
    <div class="row g-3 align-items-end mb-5">
      <div class="col-md-4">
        <%= f.label :zoning_id, "Scegli l'Azzonamento", class: "form-label fst-italic text-secondary" %>
        <%= f.collection_select :zoning_id, @zonings, :id, :descrizione_azzonamento,
          { prompt: "Seleziona un azzonamento" }, class: "form-select", required: true %>
      </div>
      <div class="col-md-3">
        <%= f.label :anno, "Scegli l'Anno", class: "form-label fst-italic text-secondary" %>
        <%= f.text_field :anno, class: "form-control", placeholder: "es. 2026", required: true %>
      </div>
      <div class="col-md-3">
        <%= f.label :mese, "Scegli il Mese", class: "form-label  fst-italic text-secondary" %>
        <%= f.select :mese, ImportForm::MESI, { prompt: "Seleziona un mese" },
          { class: "form-select", required: true } %>
      </div>
      <div class="col-md-2 d-grid">
        <%= f.submit "Calcola", class: "btn btn-primary shadow" %>
      </div>
    </div>
  <% end %>
  <% if @total_members_result %>
    <% if @total_members_result.success? %>
      <% regionale = @total_members_result.zoning.codice_azzonamento.to_s.length == 1 %>
      <% zoning_image = regionale ? "statistic/regionale.svg" : "statistic/comprensori.svg" %>
      <% zoning_image_alt = regionale ? "regionale" : "comprensori" %>
      <div class="card border-dark p-3 m-2 shadow-sm">
        <h4>
          <span class="p-2 fw-bold fst-italic">
            <%= image_tag(zoning_image, class: "img-fluid me-1", size: "48x48", alt: zoning_image_alt) %>
            <%= @total_members_result.zoning.descrizione_azzonamento %>
          </span>
        </h4>
        <hr class="mt-2 mb-2"/>
        <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead>
              <tr>
                <th class="fs-5">Azzonamento</th>
                <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                <th class="fs-5"><i>iscritti</i></th>
                <th class="fs-5"><i>%</i></th>
              </tr>
            </thead>
            <tbody>
              <% diff_class = @total_members_result.diff.negative? ? "text-danger" : "text-success" %>
              <tr>
                <td class="fs-5"><%= @total_members_result.zoning.descrizione_azzonamento %></td>
                <td class="fs-5"><%= number_with_delimiter(@total_members_result.count_precedente, locale: :it) %></td>
                <td class="fs-5"><%= number_with_delimiter(@total_members_result.count_anno, locale: :it) %></td>
                <td class="fs-5 fw-bold <%= diff_class %>"><%= number_with_delimiter(@total_members_result.diff, locale: :it) %></td>
                <td class="fs-5 fw-bold <%= diff_class %>">
                  <% if @total_members_result.diff_percent %>
                    <%= number_to_percentage(@total_members_result.diff_percent, precision: 2, locale: :it) %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% if @total_members_result.comprensori.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/comprensori.svg", class: "img-fluid me-1", size: "48x48", alt: "regionale") %>
              Comprensori
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Azzonamento</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>iscritti</i></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.comprensori.each do |comprensorio| %>
                  <% comprensorio_diff_class = comprensorio.diff.negative? ? "text-danger" : "text-success" %>
                  <tr>
                    <td class="fs-5"><%= comprensorio.zoning.descrizione_azzonamento %></td>
                    <td class="fs-5"><%= number_with_delimiter(comprensorio.count_precedente, locale: :it) %></td>
                    <td class="fs-5"><%= number_with_delimiter(comprensorio.count_anno, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= comprensorio_diff_class %>"><%= number_with_delimiter(comprensorio.diff, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= comprensorio_diff_class %>">
                      <% if comprensorio.diff_percent %>
                        <%= number_to_percentage(comprensorio.diff_percent, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="mt-4 mx-auto" style="position: relative; height: 320px; width: 100%; max-width: 700px;"
              data-controller="comparison-chart"
              data-comparison-chart-labels-value="<%= @total_members_result.comprensori.map { |c| c.zoning.descrizione_azzonamento }.to_json %>"
              data-comparison-chart-previous-data-value="<%= @total_members_result.comprensori.map(&:count_precedente).to_json %>"
              data-comparison-chart-current-data-value="<%= @total_members_result.comprensori.map(&:count_anno).to_json %>"
              data-comparison-chart-percentages-value="<%= @total_members_result.comprensori.map(&:diff_percent).to_json %>"
              data-comparison-chart-previous-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %>"
              data-comparison-chart-current-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno %>">
            <canvas data-comparison-chart-target="canvas"></canvas>
          </div>
        </div>
      <% end %>
      <% if @total_members_result.categorie.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/categorie.svg", class: "img-fluid me-1", size: "48x48", alt: "categorie") %>
              Categorie
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Categoria</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>iscritti</i></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.categorie.each do |categoria| %>
                  <% categoria_diff_class = categoria.diff.negative? ? "text-danger" : "text-success" %>
                  <tr>
                    <td class="fs-5"><%= categoria.categoria %></td>
                    <td class="fs-5"><%= number_with_delimiter(categoria.count_precedente, locale: :it) %></td>
                    <td class="fs-5"><%= number_with_delimiter(categoria.count_anno, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= categoria_diff_class %>"><%= number_with_delimiter(categoria.diff, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= categoria_diff_class %>">
                      <% if categoria.diff_percent %>
                        <%= number_to_percentage(categoria.diff_percent, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="mt-4 mx-auto" style="position: relative; height: 480px; width: 100%; max-width: 1000px;"
              data-controller="comparison-chart"
              data-comparison-chart-labels-value="<%= @total_members_result.categorie.map(&:categoria).to_json %>"
              data-comparison-chart-previous-data-value="<%= @total_members_result.categorie.map(&:count_precedente).to_json %>"
              data-comparison-chart-current-data-value="<%= @total_members_result.categorie.map(&:count_anno).to_json %>"
              data-comparison-chart-percentages-value="<%= @total_members_result.categorie.map(&:diff_percent).to_json %>"
              data-comparison-chart-previous-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %>"
              data-comparison-chart-current-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno %>">
            <canvas data-comparison-chart-target="canvas"></canvas>
          </div>
        </div>
      <% end %>
      <% if @total_members_result.attivi_pensionati.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/attivipensionati.svg", class: "img-fluid me-1", size: "48x48", alt: "attivipensionati") %>
              Attivi / Pensionati
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Gruppo</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>iscritti</i></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.attivi_pensionati.each do |gruppo| %>
                  <% gruppo_diff_class = gruppo.diff.negative? ? "text-danger" : "text-success" %>
                  <tr>
                    <td class="fs-5"><%= gruppo.gruppo %></td>
                    <td class="fs-5"><%= number_with_delimiter(gruppo.count_precedente, locale: :it) %></td>
                    <td class="fs-5"><%= number_with_delimiter(gruppo.count_anno, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= gruppo_diff_class %>"><%= number_with_delimiter(gruppo.diff, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= gruppo_diff_class %>">
                      <% if gruppo.diff_percent %>
                        <%= number_to_percentage(gruppo.diff_percent, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="mt-4 mx-auto" style="position: relative; height: 320px; width: 100%; max-width: 700px;"
              data-controller="comparison-chart"
              data-comparison-chart-labels-value="<%= @total_members_result.attivi_pensionati.map(&:gruppo).to_json %>"
              data-comparison-chart-previous-data-value="<%= @total_members_result.attivi_pensionati.map(&:count_precedente).to_json %>"
              data-comparison-chart-current-data-value="<%= @total_members_result.attivi_pensionati.map(&:count_anno).to_json %>"
              data-comparison-chart-percentages-value="<%= @total_members_result.attivi_pensionati.map(&:diff_percent).to_json %>"
              data-comparison-chart-previous-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %>"
              data-comparison-chart-current-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno %>">
            <canvas data-comparison-chart-target="canvas"></canvas>
          </div>
        </div>
      <% end %>
      <% if @total_members_result.tipologie_iscrizione.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/tipologieiscrizione.svg", class: "img-fluid me-1", size: "48x48", alt: "tipologie iscrizione") %>
              Tipologie Iscrizione
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Tipologia Iscrizioni</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>iscritti</i></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.tipologie_iscrizione.each do |tipologia| %>
                  <% tipologia_diff_class = tipologia.diff.negative? ? "text-danger" : "text-success" %>
                  <tr>
                    <td class="fs-5"><%= tipologia.tipologia %></td>
                    <td class="fs-5"><%= number_with_delimiter(tipologia.count_precedente, locale: :it) %></td>
                    <td class="fs-5"><%= number_with_delimiter(tipologia.count_anno, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= tipologia_diff_class %>"><%= number_with_delimiter(tipologia.diff, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= tipologia_diff_class %>">
                      <% if tipologia.diff_percent %>
                        <%= number_to_percentage(tipologia.diff_percent, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
      <% if @total_members_result.tipologie_delega.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/tipologiedelega.svg", class: "img-fluid me-1", size: "48x48", alt: "tipologie delega") %>
              Tipologie Delega
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Tipologia Delega</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %></th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>iscritti</i></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.tipologie_delega.each do |tipologia| %>
                  <% tipologia_delega_diff_class = tipologia.diff.negative? ? "text-danger" : "text-success" %>
                  <tr>
                    <td class="fs-5"><%= tipologia.tipologia %></td>
                    <td class="fs-5"><%= number_with_delimiter(tipologia.count_precedente, locale: :it) %></td>
                    <td class="fs-5"><%= number_with_delimiter(tipologia.count_anno, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= tipologia_delega_diff_class %>"><%= number_with_delimiter(tipologia.diff, locale: :it) %></td>
                    <td class="fs-5 fw-bold <%= tipologia_delega_diff_class %>">
                      <% if tipologia.diff_percent %>
                        <%= number_to_percentage(tipologia.diff_percent, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="mt-4 mx-auto" style="position: relative; height: 400px; width: 100%; max-width: 900px;"
              data-controller="comparison-chart"
              data-comparison-chart-labels-value="<%= @total_members_result.tipologie_delega.map(&:tipologia).to_json %>"
              data-comparison-chart-previous-data-value="<%= @total_members_result.tipologie_delega.map(&:count_precedente).to_json %>"
              data-comparison-chart-current-data-value="<%= @total_members_result.tipologie_delega.map(&:count_anno).to_json %>"
              data-comparison-chart-percentages-value="<%= @total_members_result.tipologie_delega.map(&:diff_percent).to_json %>"
              data-comparison-chart-previous-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno_precedente %>"
              data-comparison-chart-current-label-value="<%= @total_members_result.mese %> <%= @total_members_result.anno %>">
            <canvas data-comparison-chart-target="canvas"></canvas>
          </div>
        </div>
      <% end %>
      <% if @total_members_result.nazionalita.present? %>
        <div class="card border-dark p-3 m-2 shadow-sm">
          <h4>
            <span class="p-2 fw-bold fst-italic">
              <%= image_tag("statistic/nazionalita.svg", class: "img-fluid me-1", size: "48x48", alt: "nazionalità") %>
              Nazionalità
            </span>
          </h4>
          <hr class="mt-2 mb-2"/>
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead>
                <tr>
                  <th class="fs-5">Nazionalità</th>
                  <th class="fs-5"><%= @total_members_result.mese %> <%= @total_members_result.anno %></th>
                  <th class="fs-5"><i>%</i></th>
                </tr>
              </thead>
              <tbody>
                <% @total_members_result.nazionalita.each do |riga| %>
                  <tr>
                    <td class="fs-5"><%= riga.nazionalita %></td>
                    <td class="fs-5"><%= number_with_delimiter(riga.count, locale: :it) %></td>
                    <td class="fs-5">
                      <% if riga.percentuale %>
                        <%= number_to_percentage(riga.percentuale, precision: 2, locale: :it) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="mt-4 mx-auto" style="position: relative; height: 320px; width: 100%; max-width: 420px;"
              data-controller="nationality-chart"
              data-nationality-chart-labels-value="<%= @total_members_result.nazionalita.map(&:nazionalita).to_json %>"
              data-nationality-chart-data-value="<%= @total_members_result.nazionalita.map(&:count).to_json %>">
            <canvas data-nationality-chart-target="canvas"></canvas>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-warning mb-0">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <%= @total_members_result.error %>
      </div>
    <% end %>
  <% end %>
</div>
