<% content_for :title, "Credits - Fitupe" %>
<div class="py-4">
  <h1 class="mb-4">Crediti</h1>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il nome</i></h2>
      <p class="card-text">
        <strong class="h3 text-danger">Fitupe</strong> è l'acronimo di <strong class="h3 text-danger">Fi</strong>sher, 
        <strong class="h3 text-danger">Tu</strong>key e
        <strong class="h3 text-danger">Pe</strong>arson 
        <small class="text-secondary">
          <i>
            ( che suona magicamente come il nome di un faraone egizio )
          </i>
        </small>,
        <br/>
        tre tra i più influenti statistici della storia, i cui contributi 
        <small class="text-secondary">
          <i>
            (analisi della varianza, analisi esplorativa dei dati, correlazione e test d'ipotesi)
          </i>
        </small>
        <br/>
        sono alla base della statistica moderna.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il logo</i></h2>
      <p class="card-text">
        Il logo raffigura il viso stilizzato di un faraone egizio immaginario con un copricapo a
        forma cilindrica, che richiama il sole come fonte di energia e saggezza.
        <br/>
        Al suo interno è racchiusa la lettera greca <strong class="h2 text-danger">σ</strong> (sigma minuscolo), simbolo della deviazione standard: la misura della variabilità su cui si fonda l'analisi statistica.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="h4 card-title"><i>il programmatore</i></h2>
      <p class="card-text">
        <%= link_to("https://github.com/davosky/fitupe", target: "blank")  do %>
          <h3>
            <%= image_tag "davosky-logo.svg", alt: "Davosky", class: "img-fluid me-3", size: "196x69" %>
            Davo Davosky - The Davosky Connection
          </h3>
        <% end %>
        <h5>
          <%= image_tag "claude-code-logo.svg", alt: "Claude", class: "img-fluid me-1", size: "24x24" %>
          Applicazione  scritta in Vibe Coding con la collaborazione di Claude Code.
          <br class="mb-2"/>
          <%= image_tag "davo-logo.svg", alt: "Davo", class: "img-fluid me-1", size: "72x24" %>
          Revisioni del codice eseguite da Davo Davosky.
          <br class="mb-2"/>
          Numero versione:&emsp;<span class="text-primary"><%= Fitupe::Version::NUMBER %></span>
          &emsp;
          Nome versione:&emsp;<span class="text-primary"><%= Fitupe::Version::CODENAME %></span>
        </h5>
      </p>
    </div>
  </div>
</div>
