<% content_for :title, "Elimina azzonamento" %>
<div class="mt-5 mb-3">
  <h3 class="text-danger">
    <i class="fw-bold">
      <%= image_tag("zoning/zoning-logo-destroy.svg", class: "img-fluid me-3", size: "58x58", alt: "Azzonamenti") %>
      Elimina Azzonamento
    </i>
  </h3>
</div>
<hr class="text-danger m-3"/>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card border-danger shadow-sm">
      <div class="card-body p-4">
        <h4 class="text-danger">
          Sei sicuro di voler eliminare l'azzonamento:
        </h4>
        <h4 class="text-danger">
          <strong><%= @zoning.codice_azzonamento %> - <%= @zoning.descrizione_azzonamento %></strong>?
        </h4>
        <hr class="text-danger"/>
        <div class="d-flex mt-3">
          <%= link_to zonings_path, class: "btn btn-dark shadow me-3" do %>
            <i class="bi bi-arrow-counterclockwise me-2"></i>
            Annulla
          <% end %>
          <%= button_to zoning_path(@zoning), method: :delete, class: "btn btn-danger" do %>
            <i class="bi bi-trash-fill me-2"></i>
            Elimina definitivamente
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
