<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fitupe" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Fitupe">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <div class="container">
      <% if user_signed_in? %>
        <nav class="navbar navbar-expand-lg bg-light mb-3 ps-3 pe-3" data-bs-theme="light">
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "navbar-logo.svg", alt: "navba-logo", class: "img-fluid" %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown">
                  <i class="bi bi-list"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to admin_root_path, class: "dropdown-item" do %>
                        <i class="bi bi-key me-3"></i>Amministrazione
                      <% end %>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                  <% end %>
                  <li>
                    <%= link_to credits_path, class: "dropdown-item" do %>
                      <i class="bi bi-person-circle me-3"></i>Crediti
                    <% end %>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, class: "dropdown-item" do %>
                      <i class="bi bi-box-arrow-left me-3"></i>Esci
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      <% end %>
      <main>
        <% unless devise_controller? %>
          <% flash.each do |type, message| %>
            <div class="alert alert-<%= type == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert" data-controller="flash">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
